.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 70px;           
    border-bottom: 1px solid #e3dbdb;  
    height: 60px;              
}

.nav-link {
    text-decoration: none;
    color: black;
    padding: 20px 0;          
    position: relative;        
}

.nav-link.active {
    border-bottom: 3px solid #518581;  
    color: #518581;
    padding-bottom: 0;                  
    margin-bottom: -1px;                
}

nav {
    display: flex;
    gap: 60px;
    font-size: 15px;
    font-weight: 400;
}

.icon {
    display: flex;
    gap: 23px;
}

.icon img {
    width: 30px;
    height: 30px;
}

.inputs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin: auto; */
    padding: 15px;
    width: 580px;
    height: 20px;
    background: #ffffff;
    /* border: 1px solid black; */
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
}

.input img {
    position: relative;
    top: 5px;
    width: 20px;
    height: 20px;
}

.input input {
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 13px;
    padding-left: 2rem;
}

.inputs button {
    width: 80px;
    height: 2.5rem;
    background-color: #518581;
    border: none;
    color: white;
    cursor: pointer;
}

.addition span h4 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: -10px;
}

.addition span p {
    color: #bcb9b9ff;
    font-size: 15px;
}

.context {
    position: absolute;
    bottom: -217rem;
    text-align: left;
    padding: 26px;
    color: white;
}

.article {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: -1rem;
}

.footers {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin: 80px 100px;
    border-top: 2px solid #797979;
    padding: 20px;
}

.Footer {
    /* width: 487px; */
    display: flex;
    align-items: row;
    gap: 3rem;
}